*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1350px;
    margin: auto;
}

.navParent{
    display: flex;
    justify-content: space-between;

    padding: 20px 55px;
    align-items: center;
    /* background-color: grey; */
}

.navItems ul {
    display: flex;
    gap: 15px;
}

.navItems ul li{
    list-style: none;
    /* gap: 10px; */
}

.common-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1D4ED8;
    color: white;
    font-weight: 600;
    border: none;
    
}

.common-outlined-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: #0D1B2A;
    font-weight: 600;
    border: 1px solid #0D1B2A;
    
}
.common-btn:hover{
    cursor: pointer;
    background-color: white;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
}

.herosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: white;
    align-items: center;
    background-image: url("assets/banner.jpg");
    background-size: cover;
    height: 500px;
    /* overlay: ; */
    padding: 100px 400px;
    text-align: center;
    margin-bottom: 50px;
    
}

.herosection h2{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;

}
.herosection .hero-sec-btn{
            margin-top: 200px;
            font-size: 18px;
            
}

.cards-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.speakers .mainHead {
    /* align-items: center; */
    text-align: center;
}

.speakers{
    padding: 80px 60px;
    margin-bottom: 100px;
}

.mainHead{
    margin-bottom: 100px;
    font-size: 3rem;
}

.cards-img img{
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 30px;
}

.cards-content{
    padding: 40px;
}

.cards-content h6{
    color: #1D4ED8;
    font-size: 1rem;
    font-weight: normal;
}

.cards-content h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards{
    border: 1px solid grey;
    border-radius: 21px;
}

.spots-main{
    /* align-items: center; */
    text-align: center;
    margin-bottom: 80px;
}
.spots-main .p1{
    margin-bottom: 50px;
}

.spots-parent{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    text-align: left;
    
    padding: 0px 100px;
}
.spots{
    /* gap: 20px; */
    border: 1px solid #888888;
    border-radius: 20px;
    padding: 20px 50px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.spots h2{
    font-size: 2rem;
}
.spots p{
    font-size: 15px;
}
.spots ul li{
    /* list-style: ; */
    margin-left: 15px;
    /* gap: 10px; */
    margin-bottom: 10px;
    
    

}

/* .spots ul{
    gap: 10px;
} */
.spots button{
    margin-top: 20px;
    /* align-items: center; */
    /* align-self: center; */
    
}


#secure{
    font-size: 3rem;
}

.spots hr{
    margin: 20px 0px;
    
}

.pro{
    background-color: #0D1B2A;
    color: white;
}
.p11{
    color: #1D4ED8;
}

.btn1{
    border: 1px solid #1D4ED8;
    color: #1D4ED8;

}